@import "variable";
@import "reset";
@import "header";
@import "menu";
@import "content";

@include reset();

#main {
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.app {
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 700px;
  padding-top: $default-padding;

  @include header();
  @include menu();
  @include content();
}