@import "variable";
@import "reset";
@import "header";
@import "menu";
@import "content";

@include reset();

#main {
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.app {
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 700px;
  padding-top: $default-spacing;

  @include header();
  @include menu();
  @include content();
}

.accordion {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  flex-grow: 1;

  .body {

    // Wenn am Body die "hidden"-Klasse hängt, verstecken wir ihn
    &.hidden {
      display: none;
    }
  }
}