@mixin content {
  .content {
    margin-top: $default-padding;

    h3 {
      margin: 0;
      padding-top: $default-padding;
      padding-bottom: 2 * $default-padding;
    }

    .row {
      display: flex;
      margin-bottom: $default-padding;

      label {
        display: inline-block;
        min-width: 150px;
        max-width: 150px;
        text-align: right;
        margin-right: $default-padding;
      }
    }

    .panel {
      background: #efefef;
      padding: $default-padding;
    }

    .home {

    }

    .overview {

    }

  }
}