@import "variable";

@mixin content {
  .content {
    margin-top: $default-spacing;

    /**
     * Allgemeines Styling im Content-Bereich.
     */

    h3 {
      margin: 0;
      padding-top: $default-spacing;
      padding-bottom: 2 * $default-spacing;
      color: $secondary-color;
      font-family: $secondary-font;
      font-size: $title-size;
    }

    .row {
      display: flex;
      margin-bottom: $default-spacing;
    }

    .panel {
      padding: $default-spacing;
    }

    // Seite 1) HOME - Startseite

    .home {
      .login {
        margin-bottom: $default-spacing;

        input, button {
          margin-right: $default-spacing;
        }

        input {
          padding: 2px;
        }
      }

      // Info-Bereich enthält die Tatzen und Texte
      .info {
        display: flex;
        flex-flow: column;

        .paws {
          display: flex;
          align-items: center;
          justify-content: stretch;
          margin-top: $default-spacing;
          margin-bottom: $default-spacing;

          // Tatze mit Bild
          .paw {
            display: flex;
            flex-flow: column;
            margin: 0 auto;

            img {
              margin-bottom: $default-spacing;
            }
          }
        }

        .text {
          margin: $default-spacing;
          font-family: $primary-font;
        }
      }
    }

    // Seite 2) Übersicht, Bewertungen und Kommentare zu Ideen

    .overview {
      .idea {
        display: flex;
        flex-flow: column;
        background: $background-color;
        margin-bottom: $default-spacing;
        font-family: $primary-font;

        // Container für Bild und allgemeine Infos
        .details {
          display: flex;

          .image {
            width: 120px;
            height: 120px;
            margin: $default-spacing;

            img {
              margin: $default-spacing;
            }
          }

          .info {
            display: flex;
            flex-flow: column;
            padding: $little-spacing;
          }
          .title{
            margin: $little-spacing;
            font-family: $primary-font;
            font-size: $text-size;
          }
          .author{
            margin: $little-spacing;
            font-family: $primary-font;
            font-size: $text-size;
          }
          .description{
            margin: $little-spacing;
            font-family: $primary-font;
            font-size: $description-size;
          }
          .poll {
            margin: $little-spacing;
            font-family: $primary-font;
            font-size: $description-size;

            .rating {
              margin: $little-spacing;
              font-family: $primary-font;
              font-size: $description-size;
            }

            .comments {
              margin: $little-spacing;
              font-family: $primary-font;
              font-size: $description-size;
            }
          }
        }
      }
    }

    // Seite 3) Abstimmung

    .poll {

    }

    // Seite 4) Admin-Einstellungen

    .admin {
      .idea {
        display: flex;
        padding: $default-spacing;
        background: $background-color;
        margin-bottom: $default-spacing;
      }
    }
  }
}