@import "idea";

@mixin content {
  .content {
    margin-top: $default-padding;

    h3 {
      margin: 0;
      padding-top: $default-padding;
      padding-bottom: 2 * $default-padding;
      color: $secondary-color;
    }

    .row {
      display: flex;
      margin-bottom: $default-padding;
    }

    .panel {
      background: #efefef;
      padding: $default-padding;
    }

    .home {
      input, button{
        margin-right: $default-padding;
      }
      input{
        padding: 2px;
      }
    }

    .overview {
      @include idea();
    }

  }
}