@mixin idea {

  .idea {
    display: flex;
    border: 1px solid $background-color;
    margin-bottom: $default-padding;

    img {
      margin: $default-padding;
    }

    .info {
      display: flex;
      flex-flow: column;
      padding: $default-padding;
    }
  }

}