@mixin menu {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    margin-top: $default-padding;
    font-weight: bolder;
    text-transform: uppercase;

    .item {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      padding: 8px;
      justify-content: center;
      border: 1px solid $primary-color;
      border-right: none;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        color: white;
        background: $primary-color;
      }

      &:last-of-type {
        border-right: 1px solid $primary-color;
      }
    }
  }
}