$primary-color: #35607e;
$secondary-color: #b18b5d;
$background-color: #FBFAF8;

$default-spacing: 10px;
$little-spacing: 3px;
$primary-font: "Calibri";
$secondary-font: "Times New Roman";
$title-size: 30px;
$text-size: 20px;
$description-size: 18px;